

.spielstufen {
    border: 1px solid black;
}


.knopp { /*styling for the buttons*/
    background-color: red;
    color: white;
    font-size: xx-large;
    font-weight: bolder;
    padding: 1em 2em;
    border: none;
    cursor: pointer;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    background-color:plum;
}

#rahmen {
    max-width: 800px;
    width: 100%;
    margin:0 auto;
}

/*used in JS to make sections of index.html appear/disappear;
default for sections #quizteil and #auswertung*/
.invisible { 
    display: none;
}

#startseite, #auswertung {
    text-align: center;
}

fieldset>div {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

fieldset {
    border: none;
}

#auswertenButton {
    margin: 0 auto;
    display: block; 
}

#quizteil>h1 {
    text-align: center;
}

#ergebnis {
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
}

#ergebnis>img, #startseite>img {
    display: block;
    width: 80%;
    height: auto;
    margin: 1em auto;
}